{% extends 'base.html' %}

{% block title %}
Create new post
{% endblock %}

{% block content_title %}
New post
{% endblock %}

{% block content %}
<div class="col-md-6">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('posts.create_post') }}" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label(class='form-label')}}
            {{ form.title(class='form-control')}}
        </p>
        <p>
            {{ form.body.label(class='form-label')}}
            {{ form.body(class='form-control')}}
        </p>
        <div class="mb-3">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </form>
</div>

{% endblock %}
