{% extends 'base.html' %}

{% block title %}
    {{ current_user.username }} | Edit profile
{% endblock %}

{% block content_title %}
    {{ current_user.username }} | Edit profile
{% endblock %}

{% block content %}
<div class="col-md-6">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label(class='form-label') }}
            {{ form.username(class='form-control') }}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label(class='form-label') }}
            {{ form.about_me(class='form-control', rows=4) }}
            {% for error in form.about_me.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div class="mb-3">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
{% endblock %}