{% extends 'base.html' %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block content %}
    <div class="row mb-5">
        <div class="col">
            <table>
                <tr>
                    <td align="middle"><img src="{{ user.avatar(128) }}"></td>
                    <td class="ml-1">
                        <h1>User: {{ user.username }}</h1>
                        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                        {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                    </td>
                </tr>
            </table>
        </div>
        {% if current_user.username == user.username %}
        <div class="col">
            <form action="{{ url_for('edit_profile', username=current_user.username)}}" method='GET'>
                <button type="submit" class="btn btn-primary btn-lg">Edit profile</button>
            </form>
        </div>
        {% endif %}
    </div>

    {% for post in posts %}
        {% include 'posts/_post.html' %}
    {% endfor %}
{% endblock %}